h3= title

form(method="post")
	div.form-group.row
		label.col-2.col-form-label Title
		div.col-10
			input.form-control(type="text", value="#{item.name}", id="example-text-input")
	
	div.form-group.row
		label.col-2.col-form-label Description
		div.col-10
			textarea.form-control(name="description", rows="4") #{item.description}
	
	button.btn.btn-primary(type="submit") Update
