doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		<!-- Compressed CSS -->
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")

		<!-- Compressed JavaScript -->
		script(src="")
 
	body		
		nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse.fixed-top
			button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
				span.navbar-toggler-icon
			a.navbar-brand(href="#") TODO's
			div.collapse.navbar-collapse#navbarsExampleDefault
				ul.navbar-nav.mr-auto
					li.nav-item
						a.nav-link(href="/") Home 
							span.sr-only (current)
					li.nav-item.active
						a.nav-link(href="/items") Items				

		div.container-fluid			

			!{messages()}

			!=body
